@use '../utils/breakpoints' as breakpoint;

.container {
  width: min(100% - 3rem, 69.375rem);
  margin-inline: auto;
}

.link {
  border: none;
  background: none;
  display: inline-block;
  font-size: var(--fs-200);
  letter-spacing: 1px;
}

.link:hover,
.btn:hover {
  cursor: pointer;
}

.btn {
  border: none;
  background: none;
  font: inherit;
}

.btn--regular {
  font-size: var(--fs-300);
}

.btn--increment,
.btn--decrement {
  color: hsl(var(--clr-black-1) / 0.5);
}

.btn--regular,
.link--regular,
.link--contrast,
.link--transparent,
.link--checkout {
  padding: 1rem 1.6rem;
  text-transform: uppercase;
}

.btn--regular,
.link--regular,
.link--checkout {
  font-weight: var(--fw-600);
  background-color: hsl(var(--clr-medium-orange));
  color: hsl(var(--clr-white-1));
  transition: all 0.15s;
}

.btn--regular:hover,
.link--regular:hover,
.link--checkout:hover {
  background-color: hsl(var(--clr-light-orange));
}

.link--checkout {
  width: 100%;
  text-align: center;
  font-weight: var(--fw-600);
}

.link--hamburger {
  @include breakpoint.for-desktop-up {
    display: none;
  }
}

.link--contrast,
.link--transparent,
.link--navigation {
  transition: all 0.15s;
}

.link--contrast {
  font-weight: var(--fw-500);
  background-color: hsl(var(--clr-black-1));
  color: hsl(var(--clr-white-1));
}

.link--contrast:hover {
  background-color: hsl(var(--clr-gray-3));
}

.link--transparent {
  font-weight: var(--fw-700);
  color: hsl(var(--clr-black-1));
  border: 1px solid hsl(var(--clr-black-1));
  box-shadow: -1px -1px 1px hsl(var(--clr-black-1) / 0.25);
}

.link--transparent:hover {
  background-color: hsl(var(--clr-black-1));
  color: hsl(var(--clr-white-1));
  box-shadow: revert;
}

.btn--navigation {
  margin-block: 1.3rem;
  font-size: var(--fs-400);
  font-weight: var(--fw-600);
  color: hsl(var(--clr-black-1) / 0.5);
  transition: all 0.2s;

  @include breakpoint.for-tablet-up {
    margin-block: 2rem;
  }

  @include breakpoint.for-desktop-up {
    margin-block: 4rem;
  }
}

.btn--navigation:hover {
  color: hsl(var(--clr-black-1));
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-5 {
  margin-top: 3.875rem;
}

.pt-10 {
  padding-top: 9.25rem;

  @include breakpoint.for-tablet-up {
    padding-top: 13.25rem;
  }
}

// styles for toast
.relative {
  position: relative;
}

.react-toast {
  font-weight: var(--fw-600);
  font-size: var(--fs-400);
}

// prevents sticky hover effects on touch devices
@media (pointer: coarse) {
  .btn--regular:hover {
    background-color: hsl(var(--clr-medium-orange)) !important;
  }

  .btn--increment:hover,
  .btn--decrement:hover {
    color: hsl(var(--clr-black-1) / 0.5) !important;
  }

  .icon:hover {
    fill: hsl(var(--clr-white-1)) !important;
  }
}
