@use '../utils/breakpoints' as breakpoint;

.container {
  width: min(100% - 3rem, 69.375rem);
  margin-inline: auto;
}

.btn {
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: var(--fs-200);
  letter-spacing: 1px;
}

.btn:hover {
  cursor: pointer;
}

.btn--regular,
.btn--contrast,
.btn--transparent {
  padding: 1rem 1.6rem;
}

.btn--regular {
  font-weight: var(--fw-600);
  background-color: hsl(var(--clr-medium-orange));
  color: hsl(var(--clr-white));
  transition: all 0.15s;
}

.btn--regular:hover {
  background-color: hsl(var(--clr-light-orange));
}

.btn--hamburger {
  fill: var(--clr-white);
}

.btn--hamburger:hover {
  fill: var(--clr-medium-orange);
}

.btn--contrast,
.btn--transparent {
  transition: all 0.15s;
}

.btn--contrast {
  font-weight: var(--fw-500);
  background-color: hsl(var(--clr-black-1));
  color: hsl(var(--clr-white-1));
}

.btn--contrast:hover {
  background-color: hsl(var(--clr-gray-3));
}

.btn--transparent {
  font-weight: var(--fw-700);
  color: hsl(var(--clr-black-1));
  border: 1px solid hsl(var(--clr-black-1));
  box-shadow: -1px -1px 1px hsl(var(--clr-black-1) / 0.25);
}

.btn--transparent:hover {
  background-color: hsl(var(--clr-black-1));
  color: hsl(var(--clr-white-1));
  box-shadow: revert;
}

.btn--hamburger {
  fill: var(--clr-white);
}

.btn--hamburger:hover {
  fill: var(--clr-medium-orange);
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pt-10 {
  padding-top: 9.25rem;

  @include breakpoint.for-tablet-up {
    padding-top: 13.25rem;
  }
}
