@use '../../utils/breakpoints' as breakpoint;

.product-container {
  & > * + * {
    margin-top: 5rem;
  }

  // applicable when Navigation component rendered in individual product components
  & + .audio-products {
    .audio-products__speakers {
      background-color: hsl(var(--clr-white-2));
    }

    @include breakpoint.for-tablet-up {
      gap: 0.5rem;
    }

    @include breakpoint.for-desktop-up {
      gap: 2.5rem;
    }
  }

  @include breakpoint.for-tablet-up {
    & > * + * {
      margin-top: 6.5rem;
    }
  }

  @include breakpoint.for-tablet-up {
    & > * + * {
      margin-top: 7.5rem;
    }
  }
}

.headphone-product {
  display: grid;
  gap: 2rem;

  &__img-container {
    border-radius: 0.5em;
    overflow-x: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__subheading,
  &__heading {
    text-transform: uppercase;
  }

  &__subheading {
    font-size: var(--fs-300);
    font-weight: var(--fw-500);
    color: hsl(var(--clr-medium-orange));
    letter-spacing: 0.5rem;
  }

  &__heading {
    font-size: var(--fs-800);
    color: hsl(var(--clr-black-1));
    max-width: 10ch;
  }

  &__description {
    font-size: var(--fs-400);
    font-weight: var(--fw-600);
    color: hsl(var(--clr-black-1) / 0.55);
    max-width: 35ch;
    line-height: 1.6;
  }

  &__price {
    font-size: var(--fs-600);
    font-weight: var(--fw-600);
    letter-spacing: 0.1rem;
  }

  &__qtySelection {
    color: hsl(var(--clr-white-1));
    display: flex;
    gap: 1rem;
  }

  &__qtySelection-wrapper {
    width: 7.5rem;
    background-color: hsl(var(--clr-white-2));
    color: hsl(var(--clr-black-1));
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      padding: 1rem;
      font-size: var(--fs-400);
      border: none;
      background: none;
    }

    .btn:hover {
      color: hsl(var(--clr-medium-orange));
      cursor: pointer;
    }

    span {
      font-size: var(--fs-200);
      font-weight: var(--fw-700);
    }
  }

  @include breakpoint.for-tablet-up {
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);

    &__content {
      align-self: center;
    }
  }

  @include breakpoint.for-desktop-up {
    gap: 7.6rem;

    &__description {
      max-width: revert;
    }
  }
}

.headphone-features {
  display: grid;

  & > * + * {
    margin-top: 5rem;
  }

  &__content > * + * {
    margin-top: 1.5rem;
  }

  &__heading {
    font-size: var(--fs-700);
    text-transform: uppercase;
  }

  &__info > * + * {
    margin-top: 1.6rem;
  }

  &__text {
    color: hsl(var(--clr-black-1) / 0.55);
    font-weight: var(--fw-600);
    font-size: var(--fs-400);
    line-height: 1.75;
  }

  .headphone-items {
    display: grid;
    gap: 1.6rem;

    &__heading {
      font-size: var(--fs-700);
      text-transform: uppercase;
    }

    &__list > * + * {
      margin-top: 0.8rem;
    }

    &__item {
      margin-left: 2rem;
      font-size: var(--fs-400);
      font-weight: var(--fw-500);
      color: hsl(var(--clr-black-1) / 0.55);
    }

    &__qty {
      display: inline-block;
      width: 0.5rem;
      color: hsl(var(--clr-medium-orange));
      font-size: var(--fs-400);
      font-weight: var(--fw-700);
    }

    @include breakpoint.for-tablet-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint.for-desktop-up {
      margin-top: 0;
      grid-template-columns: revert;
    }
  }

  @include breakpoint.for-desktop-up {
    grid-template-columns: 55fr 45fr;
    column-gap: 7.8125rem;

    &__items {
      margin-top: 0;
    }
  }
}

.headphone-gallery {
  display: grid;
  gap: 1rem;

  &__img {
    border-radius: 0.5em;
  }

  @include breakpoint.for-tablet-up {
    grid-template-columns: 41.5fr 58.5fr;

    &-container2 {
      grid-row: 2;
      align-self: end;
    }

    &-container3 {
      grid-column: 2;
      grid-row: span 2;
      max-height: 95%;
    }
  }
}
