:root {
  --clr-light-orange: 21 94% 75%;
  --clr-medium-orange: 22 65% 57%;
  --clr-white-1: 0 0% 100%;
  --clr-white-2: 0, 0%, 95%;
  --clr-black-1: 0 0% 0%;
  --clr-black-2: 0 0% 10%;
  --clr-black-3: 0, 0%, 6%;
  --clr-gray-1: 0 0% 98%;
  --clr-gray-2: 0 0% 95%;
  --clr-gray-3: 0, 0%, 30%;
}
